<!-- 
<button id="buzz" style="position:absolute;top:200px;right:500px; width:300px; height:40px;">Гудок</button>
 <button id="wobble" style="position:absolute;top:300px;right:500px; width:300px; height:40px;">Качели</button>

<button id="pop" style="position:absolute;top:120px;right:500px; width:300px; height:40px; transition: all 0.3s ease-in-out;">Напоказ/Выскочка</button>  

<button id="color" class="pop">Градиент</button>
<button class="pulse">Пульс</button> -->

<style>
    .pop{
        position: absolute;
        top:450px;
        right:300px;
        width:300px; 
        height:40px; 
        transition: all 2s;
        background-color:blue;
        transition: background 0.5s linear; 
    }
</style>
<style>

.pulse {
    position:absolute;
    top:350px;
    right:250px;
    background: black;
    color:white;
    border-radius: 20px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    margin: 10px;
    height: 40px;
    width: 300px;
    transform: scale(1);
    animation: pulse-black 2s infinite;
}

@keyframes pulse-black {
0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
}

70% {
    transform: scale(1.05);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
}

100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}
}
</style>

    
{%for block in blocks%}
    <div class="block" id="block{{block.uid}}">
        <div id="blockContents{{block.uid}}">

            
            <input type="checkbox" id="toggle-input">
<label for="toggle-input">
	<span>
		<svg width="10px" height="10px"><path d="M5,1 L5,1 C2.790861,1 1,2.790861 1,5 L1,5 C1,7.209139 2.790861,9 5,9 L5,9 C7.209139,9 9,7.209139 9,5 L9,5 C9,2.790861 7.209139,1 5,1 L5,9 L5,1 Z"></path></svg>
	</span>
</label>
            
            
            
            {% if block.link%}
            <input class="field" name="title" value="{{block.link.title}}" id="{{block.uid}}" placeholder="Заголовок" onfocusout="updateTitle(this.id,this.value)">
            <input class='field' name="url"  value="{{block.url}}" id="{{block.uid}}" placeholder="Ссылка" onfocusout="updateURL(this.id,this.value)">
            
            <div class="functions">
                <ul class="functions-list">
                    <li>
                        <!-- Prioritize -->
                        
                    </li>
                    <li>
                        <!-- Thumbnail -->
                    </li>
                    <li onClick="redirectInit(this)">
                        <!-- Redirect -->
                        <svg class="function-icon"  id="{{block.uid}}" viewBox="0 0 16 16" display="block" enable-background="new 0 0 24 24" ><g><path fill-rule="evenodd" clip-rule="evenodd" d="M1 5C1 3.34315 2.34315 2 4 2C5.65685 2 7 3.34315 7 5V8H4C2.34315 8 1 6.65685 1 5ZM4 1C6.20914 1 8 2.79086 8 5V8H13.7929L11.1464 5.35355L11.8536 4.64645L15.3536 8.14645V8.85355L11.8536 12.3536L11.1464 11.6464L13.7929 9H8V16H7V9H4C1.79086 9 0 7.20914 0 5C0 2.79086 1.79086 1 4 1Z" fill="currentColor"></path></g></svg>

                        <label>Redirect</label>
                    </li>
                    <li>
                        <!-- Lock -->
                    </li>
                    <li>
                        <!-- Schedule -->
                    </li>
                    <li>
                        <!-- Analytics -->
                    </li>
                </ul>
            </div>
            <div id="urlError" style="display:none;">
                <p>Пожалуйста, введите корректную ссылку.</p>
            </div>
                <button onClick="deleteBlock(this)" class="delete-block" id="{{block.uid}}">Delete</button>
            {% endif %}

        <div class="active-feature" id="activeFeature{{block.uid}}">
            
        </div>
            </div>
    </div>
{%empty%}
{%endfor%}

        

        
    <script>

        function hideUndo(e){
            block=$("#block"+e.id)
            block.html('');
            block.hide('slow');
        }

        function deleteBlock(e){

            uid=e.id

            let undoHTML=`
            <bold><p>Блок удален. Хочешь его восстановить?</p></bold>
            <button>Да</button>
            <button onClick="hideUndo(this)" id="${uid}">X</button>
        `

            
            block=$('#block'+uid);
            blockContents=$('#blockContents'+uid);
            blockContents.animate({'opacity': '0'}, 400).promise().done(function(){
                blockContents.html(undoHTML);
                $(function () {
                    block.animate({
                    height: '60px'
                    }, { duration: 500, queue: false });

                    block.animate({
                    'border-radius': '50px'
                    }, { duration: 900, queue: false });
                })
                /* Spam animation to wait out before showing html */
                block.animate({'opacity':'1'},500).promise().done(function(){
                    blockContents.animate({
                        'opacity':1
                    });
                });
            });
            

            $.ajax({
                method:'POST',
                url:"{% url 'app:delete-block'%}",
                data:{
                    'csrfmiddlewaretoken':"{{csrf_token}}",
                    'uid':e.id,
                },
            })

        }

        /* Features */

        /* Redirect */
        function redirectInit(el){
            
            uid=el.id;

            /* Fade out previous content */
            $("#activeFeature"+uid).innerHTML='';

            /* Fade in new content */
            html=`
            <div class='contents' id='contents${uid}'>
                <h4 class="title">Works!</h4>
                <div class="content" id="content${uid}">
                    <p>Explanation</p>
                    <button onClick=createRedirectLink(this) id="${uid}">Confirm</button>
                </div>
            </div>
            `
            $(html).appendTo($('#activeFeature'+uid));  
        }

        
        function updateTime(i){
            time=i.value;
            alert('y');
            $.ajax({
                method:'POST',
                url:"{%url 'app:redirect-update-time' %}",
                data:{
                    'csrfmiddlewaretoken':'{{csrf_token}}',
                    'time':time,
                },
            })
        }

        function updateDate(i){
            date=i.val();
            $.ajax({
                method:'POST',
                url:"{%url 'app:redirect-update-date' %}",
                data:{
                    'csrfmiddlewaretoken':'{{csrf_token}}',
                    'time':date,
                },
            })
        }

        function updateTimezone(i){
            date=i.val();
            $.ajax({
                method:'POST',
                url:"{%url 'app:redirect-update-date' %}",
                data:{
                    'csrfmiddlewaretoken':'{{csrf_token}}',
                    'time':date,
                },
            })
        }
        

        function createRedirectLink(el){
        
            uid=el.id;
            
            let tomorrow =  new Date()
            tomorrow.setDate(tomorrow.getDate() + 1)
            

            year=tomorrow.getFullYear();
            month=tomorrow.getMonth()+1;
            day=tomorrow.getDate();
            hours=tomorrow.getHours();
            minutes=tomorrow.getMinutes();
            
            if(month.toString().length===1){
                month='0'+month;
            }
            if(day.toString().day===1){
                day='0'+day;
            }
            if(hours.toString().length===1){
                hours='0'+hours;
            }
            if(minutes.toString().length===1){
                minutes='0'+minutes;
            }

            let time = hours + ':' + minutes;
            let date = year.toString() + '-' + month + '-' + day;

            content=$('#content'+uid);
            content.animate({ opacity: "0" }, 300 );
            
            $(content).promise().done(function(){
                html=`
                    <div class='countdown'>
                        <div id="countdown">
                    </div>
                    <div class='form'>
                        <input type="date" id="date" value='${date}'>
                        <input type="time" id="time" value='${time}' onChange="updateTime(this)">
                            {{timezone_form.timezone}}
                    </div>
                `

               $.ajax({
                method:'POST',
                url:"{% url 'app:create-redirect-link'%}",
                data:{
                    'csrfmiddlewaretoken':'{{csrf_token}}',
                    'uid':uid,
                },        
                });
                content.html(html);
                setInterval(function time(){
                    var d = new Date();
                    var hours = 24 - d.getHours();
                    var min = 60 - d.getMinutes();
                    if((min + '').length == 1){
                        min = '0' + min;
                    }
                    var sec = 60 - d.getSeconds();
                    if((sec + '').length == 1){
                            sec = '0' + sec;
                    }
                    jQuery('#countdown').html(hours+':'+min+':'+sec)
                });
                content.animate({ opacity: "1" }, 300 );
            });
            
        }
        

    
    /* Roll down/up animation */

        document.body.addEventListener('htmx:configRequest',(event)=>{
            event.detail.headers['X-CSRFToken']="{{csrf_token}}";
        })
        
        /* Pop */
        
        function pop(){
            $('#pop').css({'transform':'scale(1.05)'});
            setTimeout(popDown,300)
        }
        function popDown(){
            $('#pop').css({'transform':'scale(1)'});
            setTimeout(pop,2000);
        }
        pop();


        /* Wobble */

        function wobble() {
            $('#wobble').animate({'marginTop': '+=2.5'}, 150)
            .animate({'marginTop':'-=5'},150)
            .animate({'marginTop':'+=5'},150)
            .animate({'marginTop':'-=5'},150)
            .animate({'marginTop':'+=5'},150)
            .animate({'marginTop':'-=3.5'},150)
            .animate({'marginTop':'+=3.5'},150)
            .animate({'marginTop':'-=2.5'},150)
                 .animate({'marginTop': '+=2.5'}, 175, function() {
                     setTimeout(wobble, 1500);
                 });
        }
        wobble();

/* Buzz */

        function buzz(degrees,dur){
            $('#buzz').animate(
                { deg: degrees },
                {
                duration: dur,
                step: function(now) {
                    $(this).css({ transform: 'rotate(' + now + 'deg)' });
                }
                
                }
            );
        }
        rotation=1;
        duration=100;
        function buzzLoop(){
            buzz(rotation,duration);
            buzz(-rotation,duration);
            buzz(rotation,duration);
            buzz(-rotation,duration);
            buzz(0,duration);
            setTimeout(buzzLoop,2000)
        }
        buzzLoop();
        
        /* Color change */
        colors=['red','blue','green','yellow']     
        function gradient(){
            colors.forEach(function(color){
                $('#color').animate({
                backgroundColor:color,
                }).delay(500);
            });
            gradient();     
        }
        gradient();
        function blockActivity(uid){
            $.ajax({
            url:"{%url 'app:block-activity'%}",
            data:{
                "csrfmiddlewaretoken":"{{csrf_token}}",
                'uid':uid,
            },
            method:"POST",
            });
        };
        function updateTitle(uid,title){
            $.ajax({
            url:"{%url 'app:update-title'%}",
            data:{
                "csrfmiddlewaretoken":"{{csrf_token}}",
                'uid':uid,
                'title':title,
            },
            method:"POST",
            });
        };
        function updateURL(uid,url){
            if(/^(?:(?:(?:https?|ftp):)?\/\/)(?:\S+(?::\S*)?@)?(?:(?!(?:10|127)(?:\.\d{1,3}){3})(?!(?:169\.254|192\.168)(?:\.\d{1,3}){2})(?!172\.(?:1[6-9]|2\d|3[0-1])(?:\.\d{1,3}){2})(?:[1-9]\d?|1\d\d|2[01]\d|22[0-3])(?:\.(?:1?\d{1,2}|2[0-4]\d|25[0-5])){2}(?:\.(?:[1-9]\d?|1\d\d|2[0-4]\d|25[0-4]))|(?:(?:[a-z\u00a1-\uffff0-9]-*)*[a-z\u00a1-\uffff0-9]+)(?:\.(?:[a-z\u00a1-\uffff0-9]-*)*[a-z\u00a1-\uffff0-9]+)*(?:\.(?:[a-z\u00a1-\uffff]{2,})).?)(?::\d{2,5})?(?:[/?#]\S*)?$/i.test( url )===true){
                document.getElementById('urlError').style.display='none';
                $.ajax({
                url:"{%url 'app:update-url'%}",
                    data:{
                        "csrfmiddlewaretoken":"{{csrf_token}}",
                        'uid':uid,
                        'url':url,
                    },
                    method:"POST",
                });
            }
            else if(url==''){
                document.getElementById('urlError').style.display='none';
            }
            else{
                document.getElementById('urlError').style.display='';
            }    
        };
    </script>
