{%load static%}
<!DOCTYPE html>
<html>

    <head>
        <title>Ссылочка</title>
        <link rel="stylesheet" href="{%static 'css/landing.css'%}">
    </head>

    <body>

        <div class="top-nav">
            <div class="logo">
                <a href="{%url 'base:landing'%}" class="link"><p class="text">Ссылочка</p></a>
            </div>
            <div class="links">
                
                <ul>
                    <li>
                        <a href="/marketplace/">
                            Рынок
                        </a>
                    </li>
                    <li>
                        <a href="/marketplace/">
                            Фичи
                        </a>
                    </li>
                    <li>
                        <a href="/marketplace/">
                            Цены
                        </a>
                    </li>
                    <li>
                        <a href="/marketplace/">
                            Блог
                        </a>
                    </li>
            </ul>
        </div>
            <div class="actions">
            </div>
        </div>
    <div class="wrapper1">

        <div class="content">
            <div class="text">
                <h1>Твоя онлайн жизнь<br> в одной ссылке ;)</h1>
                <h2>Присоединяйся к более пяти миллионам людей и делись всем, что ты создаешь!</h2>
                <form method='POST'>
                    {%csrf_token%}
                    <div class="register">
                        <div class="form">
                            <h1 class="domain">ssilo4ka.ru/</h1>
                            <input class="username" name='username' placeholder="ник" autocomplete="off" >
                        </div>
                        <button type="submit"><p class="cta">Получи свою ссылку</p></button>

                    </div>
                </form>
            </div class="visual">
            
        </div>

    </div>
    <div class="wrapper2">

    </div>
</body>

    <script>
    
    </script>

</html>