{%load static%}
{%load compress%}
<!DOCTYPE html>
<html>

    <head>
        <script src="https://unpkg.com/htmx.org@1.8.0"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
        <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

        <link rel='stylesheet' href="{%static 'css/app/home.css'%}">
        <link rel='stylesheet' href="{%static 'css/app/nav.css'%}">
        {%compress css%}
            <link rel='stylesheet' type="text/x-scss" href="{%static 'scss/app/methods/button-activity.scss'%}">
            <link rel='stylesheet' type="text/x-scss" href="{%static 'scss/app/blocks/functions.scss'%}">
        {%endcompress%}
    </head>
    
    <body>
        <div class="main">

            <div class="nav">

                {%include 'app/nav.html'%}
            </div>
            
        <div class="app">

            <div class="methods">
                <!-- Add link/plugin -->
                <form method="POST">
                    {%csrf_token%}
                <button hx-post="{%url 'app:add-link'%}" hx-target="#blocks">Добавить новую ссылку</button>
                </form>
                <!-- Delete -->
                <button id="delete-all">Удалить все</button>
                <div id="delete-all-form" class="delete-all" style="display:none;">
                    <h4>Начнем с чистого листа?</h4>
                    <form method="POST">
                        {%csrf_token%}
                        <button hx-post="{% url 'app:delete-all'%}" hx-target="#blocks" id="delete-all-btn">Удалить</button>
                    </form>
                    <button id="cancel">Отмена</button>
                </div>
                </div>
            

            <!-- Blocks -->
            <div id="blocks" class="blocks">
                {%include 'app/links/blocks.html'%}
            </div>
            
        </div>
        
        <div class="preview">

        </div>
                
        

    </div>
</div>
{{timezone_form}}
</body>

    <script>

        document.body.addEventListener('htmx:configRequest',(event)=>{
        event.detail.headers['X-CSRFToken']="{{csrf_token}}";
        })

        htmx.onLoad(function(content) {
    var sortables = content.querySelectorAll(".sortable");
    for (var i = 0; i < sortables.length; i++) {
      var sortable = sortables[i];
      new Sortable(sortable, {
          animation: 150,
          ghostClass: 'blue-background-class'
      });
    }
})

        $('#delete-all').on('click',function(){
            document.getElementById('delete-all-form').style.display='';
        });
        $('#cancel').on('click',function(){
            document.getElementById('delete-all-form').style.display='none';
        });
        $('#delete-all-btn').on('click',function(){
            document.getElementById('delete-all-form').style.display='none';
        });
    </script>

</html>