
<div class="logo"><a href="{%url 'app:home'%}">Ссыло4ка</a></div>
<div class="left">
    <ul>
        <a href="#">
            <li class="active-link">
                Ссылки
            </li>
        </a>
        <a href="{%url 'app:design'%}">
            <li>
                Дизайн
            </li>
        </a>
        <a href="{%url 'app:analytics'%}">
            <li>
                Аналитика
            </li>
        </a>
        <a href="{%url 'app:design'%}">
            <li>
                SEO
            </li>
        </a>
        <a href="#">
            <li>
                Реклама
            </li>
        </a>
        <li>
            <a href=><bold>Дизайн</bold></a>
        </li>
        <li>
            <a href="{%url 'app:analytics'%}">Аналитика</a>
        </li>
    </ul>   
</div>
<div class="right">
    <ul>
        <li>
            <a href="{%url 'app:analytics'%}">Премиум</a>
        </li>
        <li>
            <a href="{%url 'user:logout'%}">Выйти</a>
        </li>
    </ul>
</div>