
body{
    background-color:lightgrey;
    width:100%;
    height:1000px;
}

/* Shared */

.hidden{
    display:none;
}

/* Main */

.main{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    
}


/* App */

.app{
    position:absolute;
    top:0px;
    left:0px;

    width:70%;
    height:100%;

    float:left;
}


.preview{
    width:40%;
}

/* Buttons */

.methods{
    position:relative;
    top:140px;
    left:18%;
}

.methods button{
    width:30%;
    height:45px;
    
    border:none;
    border-radius:50px;

    font-size:16px;
    font-weight:600;

    
    background-color: purple;
    color:white;

    margin-right:15px;
    float:left;

    cursor:pointer;
}

/* Blocks */

.blocks{
    position:relative;
    top:220px;
    left:5%;

    width:100%;
    
    
}

.block{

    width:85%;
    height:150px;

    background-color: #ffff;
    border-radius:20px;
    
    
    margin-bottom:20px;


    
}

.contents{
    width:100%;
    height:100%;
}

.field{
    position: relative;
    left:70px;

    border:transparent;
    background-color: transparent;

    display:block;

    margin-bottom:10px;

}

.field:focus{
    outline:none;
}


.active{
    position:relative;
    right:-630px;
    top:20px;
}

.delete-block{
    position:relative;
    right:-600px;
    bottom:40px;

    
}

.functions{
    
}

.functions-list{
    position:relative;
    right:-20px;
    top:5px;
    display: inline;
    
}



svg{
    margin:0;
    padding:0;
}

.function{
    width:20px;
    height:20px;
    cursor: pointer;
}

.function-icon{

    width:15px;
    height:15px;

    color:darkslategrey;

    cursor:pointer;
}




.function label{
    display:none;
}

.active-function{
    width:85%;
    height:0px;
    margin-top:2px;
    margin-top:10px;
    margin-bottom:10px;
    background-color:#fff;
    border-radius:20px;
    
}

.active-function .contents{
    position: relative;
    top:20px;
    left:20px;
}

.function-title h4{
    padding:0;
    margin:0;
    padding-top:5px;
    padding-bottom:5px;
    text-align: center;
}
