{%load static%}
<!DOCTYPE html>
<html>

    <head>
        <title>Ссыло4ка Блог</title>

        <link rel='stylesheet' href="{%static 'css/blog/landing.css'%}">
        
    </head>

    <body>

    <div class="top-nav">
        <div class="logo">
            <a href="{%url 'base:landing'%}" class="link"><p class="text">Ссылочка</p></a>
        </div>
        <div class="links">
            
            <ul>
                <li>
                    <a href="/marketplace/">
                        Рынок
                    </a>
                </li>
                <li>
                    <a href="/marketplace/">
                        Фичи
                    </a>
                </li>
                <li>
                    <a href="/marketplace/">
                        Цены
                    </a>
                </li>
                <li>
                    <a href="/marketplace/">
                        Блог
                    </a>
                </li>
        </ul>
    </div>
        <div class="actions">
            <img src="https://img.icons8.com/ios/50/000000/exit.png" />
        </div>
    </div>

        <h1 class="headline">Ссылочка Блог</h1>

    
        <style>

        </style>
    </body>

    <script>
    
    </script>

</html>